<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Llenado correcto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Llenado con éxito</h1>
    <center>
        <img src="{{ url_for('static', filename='chill1.jpg') }}" alt="Imagen de éxito">
    </center>
    
    <div class="container">
        <a href="/">Volver a inicio</a>
    </div>
</body>
</html>
